.16_10 {
	overflow:hidden;
}
.e16_10 {
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e16_11 {
	background-image:linear-gradient(0deg, rgba(255, 76.50000303983688, 0, 1) 0%,rgba(255, 49.40625227987766, 86.70000091195107, 1) 52.60416865348816%,rgba(255, 0, 244.80000972747803, 1) 100%) ;
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_12 {
	width:118.16339874267578px;
	height:70px;
	position:absolute;
	left:25px;
	top:20px;
}
.e16_13 {
	width:118.16339874267578px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_14 {
	background-color:rgba(255, 255, 255, 1);
	width:63.660377502441406px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_15 {
	background-color:rgba(255, 255, 255, 1);
	width:50.98112869262695px;
	height:70px;
	position:absolute;
	left:67.1822280883789px;
	top:2.842170943040401e-14px;
}
.e23_15 {
	width:811px;
	height:60px;
	position:absolute;
	left:203px;
	top:25px;
}
.e16_16 {
	background-color:rgba(255, 255, 255, 1);
	width:811px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e16_17 {
	background-color:rgba(122.68334046006203, 122.68334046006203, 122.68334046006203, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:755px;
	top:14px;
}
.e17_21 {
	width:55px;
	height:48.37208938598633px;
	position:absolute;
	left:1347px;
	top:31px;
}
.e17_18 {
	background-color:rgba(255, 255, 255, 1);
	width:55px;
	height:10px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6.100000381469727px;
	border-top-right-radius:6.100000381469727px;
	border-bottom-left-radius:6.100000381469727px;
	border-bottom-right-radius:6.100000381469727px;
}
.e17_19 {
	background-color:rgba(255, 255, 255, 1);
	width:55px;
	height:10px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:18.60463523864746px;
	border-radius:6.100000381469727px;
}
.e17_20 {
	background-color:rgba(255, 255, 255, 1);
	width:55px;
	height:10px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:38.37208938598633px;
	border-radius:6.100000381469727px;
}
.e17_22 {
	background-color:rgba(255, 255, 255, 0.5);
	width:1440px;
	height:5px;
	position:absolute;
	left:0px;
	top:180px;
}
.e23_16 {
	width:527px;
	height:32px;
	position:absolute;
	left:210px;
	top:132px;
}
.e17_23 {
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:30px;
	position:absolute;
	left:50px;
	top:2px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e17_24 {
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:30px;
	position:absolute;
	left:223.5px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e17_25 {
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:30px;
	position:absolute;
	left:447px;
	top:2px;
	font-family:Roboto;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e18_27 {
	width:28px;
	height:28px;
	position:absolute;
	left:0px;
	top:3px;
}
.e18_28 {
	width:28px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}
.e18_29 {
	width:28px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}
.e18_30 {
	width:12.444442749023438px;
	height:28px;
	position:absolute;
	left:7.777777671813965px;
	top:0px;
}
.e18_31 {
	background-color:rgba(250.00000029802322, 0, 0, 1);
	position:absolute;
	left:13.999951362609863px;
	top:0px;
}
.e18_32 {
	width:21.777774810791016px;
	height:3.1111717224121094px;
	position:absolute;
	left:3.111328125px;
	top:4.666629791259766px;
}
.e18_33 {
	width:21.777774810791016px;
	height:3.111117362976074px;
	position:absolute;
	left:3.111328125px;
	top:20.222185134887695px;
}
.e18_34 {
	background-color:rgba(250.00000029802322, 0, 0, 1);
	width:28px;
	height:0px;
	position:absolute;
	left:9.094947017729282e-13px;
	top:13.999981880187988px;
}
.e21_36 {
	width:35.72413635253906px;
	height:28px;
	position:absolute;
	left:165px;
	top:3px;
}
.e21_37 {
	background-image:linear-gradient(0deg, rgba(0, 102.00000151991844, 250.00000029802322, 1) 0%,rgba(28.000000230968, 243.00000071525574, 255, 1) 100%) ;
	width:35.72413635253906px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:40px;
}
.e21_38 {
	width:27.034481048583984px;
	height:14.00734806060791px;
	position:absolute;
	left:4.344808578491211px;
	top:9.647828102111816px;
}
.e21_39 {
	background-image:linear-gradient(0deg, rgba(0, 164.00000542402267, 13.000000175088644, 1) 0%,rgba(4.000000236555934, 195.0000035762787, 11.000000294297934, 1) 73.4375%,rgba(13.000000175088644, 255, 8.000000473111868, 1) 100%) ;
	width:13.999999046325684px;
	height:12.104255676269531px;
	position:absolute;
	left:13.034507751464844px;
	top:1.9030790328979492px;
}
.e21_40 {
	background-image:linear-gradient(0deg, rgba(0, 136.00000709295273, 10.780478473752737, 1) 0%,rgba(5.000000176951289, 208.0000028014183, 13.000000175088644, 1) 58.92857313156128%,rgba(13.000000175088644, 255, 8.000000473111868, 1) 100%) ;
	width:18.82758331298828px;
	height:14.00734806060791px;
	position:absolute;
	left:0px;
	top:0px;
}
.e21_41 {
	background-color:rgba(250.00000029802322, 255, 31.000000052154064, 1);
	width:3.3791568279266357px;
	height:3.37930965423584px;
	position:absolute;
	left:26.069091796875px;
	top:5.7930908203125px;
}
.e23_3 {
	width:28px;
	height:28px;
	position:absolute;
	left:396px;
	top:3px;
}
.e23_4 {
	width:28px;
	height:20.25531768798828px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:7.744677543640137px;
}
.e23_5 {
	background-image:linear-gradient(0deg, rgba(0, 67.99998074769974, 170.0000050663948, 1) 0%,rgba(0, 248.0000004172325, 233.12001407146454, 1) 100%) ;
	width:28px;
	height:20.25531768798828px;
	position:absolute;
	left:0px;
	top:0px;
}
.23_5 {
	border:2.3233444690704346px solid rgba(1.0000000591389835, 89.00000229477882, 177.0000046491623, 1);
}
.e23_6 {
	background-color:rgba(255, 255, 255, 1);
	width:7.550336837768555px;
	height:8.704024314880371px;
	position:absolute;
	left:10.723418235778809px;
	top:5.835912704467773px;
}
.23_6 {
	border:0.4608539044857025px solid rgba(255, 255, 255, 1);
}
.e23_7 {
	width:28px;
	height:7.744680881500244px;
	position:absolute;
	left:0px;
	top:0px;
}
.e23_8 {
	background-image:linear-gradient(0deg, rgba(78.00000295042992, 78.00000295042992, 78.00000295042992, 1) 0%,rgba(61.82630382478237, 61.82630382478237, 61.82630382478237, 1) 50.52083134651184%,rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1) 100%) ;
	width:28px;
	height:7.744680881500244px;
	position:absolute;
	left:0px;
	top:0px;
}
.23_8 {
	border:2.3233444690704346px solid rgba(0, 0, 0, 1);
}
.e23_9 {
	background-image:linear-gradient(0deg, rgba(78.00000295042992, 78.00000295042992, 78.00000295042992, 1) 0%,rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1) 100%) ;
	width:5.957447052001953px;
	height:7.744680881500244px;
	position:absolute;
	left:6.553252696990967px;
	top:-5.6843418860808015e-14px;
}
.23_9 {
	border:2.3233444690704346px solid rgba(0, 0, 0, 1);
}
.e23_10 {
	background-image:linear-gradient(0deg, rgba(78.00000295042992, 78.00000295042992, 78.00000295042992, 1) 0%,rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1) 100%) ;
	width:5.361703872680664px;
	height:7.744680881500244px;
	position:absolute;
	left:16.085126876831055px;
	top:-5.6843418860808015e-14px;
}
.23_10 {
	border:2.3233444690704346px solid rgba(0, 0, 0, 1);
}
.e23_13 {
	background-color:rgba(255, 255, 255, 0.5);
	width:785px;
	height:220px;
	position:absolute;
	left:565px;
	top:486px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e23_14 {
	background-color:rgba(255, 255, 255, 0.3499999940395355);
	width:785px;
	height:220px;
	position:absolute;
	left:562px;
	top:742px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e38_5 {
	width:785px;
	height:220px;
	position:absolute;
	left:565px;
	top:230px;
}
.e23_11 {
	background-color:rgba(255, 255, 255, 0.3499999940395355);
	width:785px;
	height:220px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e28_62 {
	color:rgba(255, 255, 255, 1);
	width:656px;
	height:35px;
	position:absolute;
	left:43px;
	top:45px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e28_68 {
	color:rgba(255, 255, 255, 1);
	width:694px;
	height:38px;
	position:absolute;
	left:43px;
	top:138px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e32_2 {
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:19px;
	position:absolute;
	left:43px;
	top:87px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e38_2 {
	width:462px;
	height:720px;
	position:absolute;
	left:55px;
	top:236px;
}
.e23_12 {
	background-color:rgba(255, 255, 255, 0.3499999940395355);
	width:462px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e24_19 {
	width:370px;
	height:138.9698944091797px;
	position:absolute;
	left:46px;
	top:33px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_4 {
	width:376px;
	height:87px;
	position:absolute;
	left:47px;
	top:573px;
}
.e28_24 {
	width:59px;
	height:59px;
	position:absolute;
	left:16px;
	top:0px;
}
.e28_23 {
	background-image:linear-gradient(0deg, rgba(0, 32.00000189244747, 196.00000351667404, 1) 0%,rgba(0, 137.00000703334808, 186.0000041127205, 1) 50%,rgba(0, 196.00000351667404, 181.0000044107437, 1) 100%) ;
	width:59px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_25 {
	width:53.099998474121094px;
	height:53.099998474121094px;
	position:absolute;
	left:2.9498047828674316px;
	top:2.9499878883361816px;
}
.28_26 {
	border:2.597858190536499px solid rgba(255, 255, 255, 1);
}
.e28_26 {
	width:53.099998474121094px;
	height:53.099998474121094px;
	position:absolute;
	left:0px;
	top:0px;
}
.28_27 {
	border:2.597858190536499px solid rgba(255, 255, 255, 1);
}
.e28_27 {
	width:23.599994659423828px;
	height:53.099998474121094px;
	position:absolute;
	left:14.75px;
	top:0px;
}
.e28_28 {
	background-color:rgba(250.00000029802322, 0, 0, 1);
	position:absolute;
	left:26.549999237060547px;
	top:0px;
}
.28_28 {
	border:2.597858190536499px solid rgba(255, 255, 255, 1);
}
.28_29 {
	border:2.597858190536499px solid rgba(255, 255, 255, 1);
}
.e28_29 {
	width:41.29999542236328px;
	height:5.900115489959717px;
	position:absolute;
	left:5.900000095367432px;
	top:8.850000381469727px;
}
.28_30 {
	border:2.597858190536499px solid rgba(255, 255, 255, 1);
}
.e28_30 {
	width:41.29999542236328px;
	height:5.900012016296387px;
	position:absolute;
	left:5.900000095367432px;
	top:38.349998474121094px;
}
.e28_31 {
	background-color:rgba(250.00000029802322, 0, 0, 1);
	width:53.099998474121094px;
	height:0px;
	position:absolute;
	left:0px;
	top:26.549999237060547px;
}
.28_31 {
	border:2.597858190536499px solid rgba(255, 255, 255, 1);
}
.e28_33 {
	width:60px;
	height:60px;
	position:absolute;
	left:154px;
	top:0px;
}
.e28_34 {
	background-color:rgba(255, 255, 255, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_35 {
	background-color:rgba(255, 116.00000068545341, 22.000000588595867, 1);
	width:31.81905746459961px;
	height:28.948415756225586px;
	position:absolute;
	left:14.090424537658691px;
	top:15.479528427124023px;
}
.e28_36 {
	background-color:rgba(255, 142.00000673532486, 22.000000588595867, 1);
	width:14.155357360839844px;
	height:18.872581481933594px;
	position:absolute;
	left:30.189857482910156px;
	top:25.55129623413086px;
}
.e28_37 {
	background-color:rgba(255, 142.00000673532486, 22.000000588595867, 1);
	width:14.611534118652344px;
	height:18.73677635192871px;
	position:absolute;
	left:15.583080291748047px;
	top:25.661767959594727px;
}
.e28_39 {
	width:60px;
	height:60px;
	position:absolute;
	left:311px;
	top:0px;
}
.e28_58 {
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_40 {
	width:60px;
	height:59.999977111816406px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_41 {
	background-color:rgba(208.0000028014183, 208.0000028014183, 208.0000028014183, 1);
	width:60px;
	height:59.992984771728516px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_42 {
	background-color:rgba(185.00000417232513, 185.00000417232513, 185.00000417232513, 1);
	width:59.86756134033203px;
	height:59.92974090576172px;
	position:absolute;
	left:0.06626129150390625px;
	top:0.05078315734863281px;
}
.e28_43 {
	background-color:rgba(163.00000548362732, 163.00000548362732, 163.00000548362732, 1);
	width:59.83646011352539px;
	height:59.912559509277344px;
	position:absolute;
	left:0.08182525634765625px;
	top:0.0638580322265625px;
}
.e28_44 {
	background-color:rgba(140.00000685453415, 140.00000685453415, 140.00000685453415, 1);
	width:59.816463470458984px;
	height:59.89280319213867px;
	position:absolute;
	left:0.0917816162109375px;
	top:0.07636070251464844px;
}
.e28_45 {
	background-color:rgba(118.00000056624413, 118.00000056624413, 118.00000056624413, 1);
	width:59.923126220703125px;
	height:59.96784973144531px;
	position:absolute;
	left:0.047607421875px;
	top:0.03212928771972656px;
}
.e28_46 {
	background-color:rgba(96.00000187754631, 96.00000187754631, 96.00000187754631, 1);
	width:59.81962585449219px;
	height:59.88691711425781px;
	position:absolute;
	left:0.0872039794921875px;
	top:0.07181167602539062px;
}
.e28_47 {
	background-color:rgba(73.00000324845314, 73.00000324845314, 73.00000324845314, 1);
	width:59.83452224731445px;
	height:59.89918518066406px;
	position:absolute;
	left:0.08411407470703125px;
	top:0.06872177124023438px;
}
.e28_48 {
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:59.827049255371094px;
	height:59.8811149597168px;
	position:absolute;
	left:0.09830474853515625px;
	top:0.08296966552734375px;
}
.e28_59 {
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:19px;
	position:absolute;
	left:0px;
	top:68px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e28_60 {
	color:rgba(255, 255, 255, 1);
	width:43px;
	height:19px;
	position:absolute;
	left:163px;
	top:68px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e28_61 {
	color:rgba(255, 255, 255, 1);
	width:71px;
	height:19px;
	position:absolute;
	left:305px;
	top:68px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e32_3 {
	color:rgba(255, 255, 255, 1);
	width:388px;
	height:184px;
	position:absolute;
	left:44px;
	top:204px;
	font-family:Roboto;
	text-align:justified;
	font-size:20px;
	letter-spacing:0;
}
.e38_3 {
	width:394px;
	height:105px;
	position:absolute;
	left:44px;
	top:412px;
}
.e32_6 {
	color:rgba(255, 255, 255, 1);
	width:220px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:justified;
	font-size:20px;
	letter-spacing:0;
}
.e32_7 {
	color:rgba(255, 255, 255, 1);
	width:394px;
	height:23px;
	position:absolute;
	left:0px;
	top:39px;
	text-align:justified;
	font-size:20px;
	letter-spacing:0;
}
.e32_8 {
	color:rgba(255, 255, 255, 1);
	width:164px;
	height:23px;
	position:absolute;
	left:2px;
	top:82px;
	text-align:justified;
	font-size:20px;
	letter-spacing:0;
}
