<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
</head><body>
<div class="v16_10">
    <div class="v16_11"></div>
    <div class="v16_12">
    <div class="v16_13">
    <div class="v16_14"></div>
<div class="v16_15"></div></div></div>
<div class="v23_15">
<div class="v16_16"></div>
<div class="v16_17"></div></div>
<div class="v17_21">
<div class="v17_18"></div>
<div class="v17_19"></div>
<div class="v17_20"></div></div>
<div class="v17_22"></div>
<div class="v23_16">
<span class="v17_23">Web</span>
<span class="v17_24">Images</span>
<span class="v17_25">Videos</span>
<div class="v18_27">
<div class="v18_28">
<div class="v18_29"></div>
<div class="v18_30"></div>
<div class="v18_31"></div>
<div class="v18_32"></div>
<div class="v18_33"></div>
<div class="v18_34"></div></div></div>
<div class="v21_36">
<div class="v21_37"></div>
<div class="v21_38">
<div class="v21_39"></div>
<div class="v21_40"></div></div>
<div class="v21_41"></div></div>
<div class="v23_3">
<div class="v23_4">
<div class="v23_5"></div>
<div class="v23_6"></div></div>
<div class="v23_7">
<div class="v23_8"></div>
<div class="v23_9"></div>
<div class="v23_10"></div></div></div></div>
<div class="v23_13"></div>
<div class="v23_14"></div>
<div class="v38_5">
<div class="v23_11"></div>
    {% block content %}
    <h1>{% block title %} Welcome to DrScanner {% endblock %}</h1>
        <form action="/" method = "GET">
            <p>Specialty <input type = "text" name = "specialty" /></p>
           <p>Price limit <input type = "integer" name = "price_limit" /></p>
           <p>English <input type = "integer" name = "is_english" /></p>
           <p><input type = "Submit" value = "Filter" /></p>
            <h1>Doctor List</h1>
            <table style="border-collapse: separate; border-spacing: 15px;">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Specialty</th>
                    <th>English Level</th>
                    <th>Age</th>
                    <th>Contact</th>
        <!-- Add more columns for the other fields in the table -->
                </tr>
                {% for doctor in doctors %}
                    <tr>
                        <td>{{ doctor[0] }}</td>
                      <td>{{ doctor[1] }}</td>
                      <td><img src="{{ doctor[2] }}" alt="{{ doctor[1] }}" style="width:100px;height:120px;"></td>
                      <td>{{ doctor[3] }}</td>
                      <td>{{ doctor[4] }}</td>
                      <td>{{ doctor[5] }}</td>
                      <td>{{ doctor[6] }}</td>
          <!-- Add more td elements for the other fields in the table -->
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% for post in posts %}
        <a href="#">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}
    <span class="v28_62">SeadasdarX - A Privacy-respecting Metasearch engine</span>
    <span class="v28_68">Searx. Privacy-respecting metasearch engine. Version 1.0.0 is available. Update your instances. Public instances. List of public searx instances.</span>
    <span class="v32_2">https://searx.me</span></div>
<div class="v38_2">
<div class="v23_12"></div>
<div class="v24_19"></div>
<div class="v38_4">
<div class="v28_24">
<div class="v28_23"></div>
<div class="v28_25">
<div class="v28_26"></div>
<div class="v28_27"></div>
<div class="v28_28"></div>
<div class="v28_29"></div>
<div class="v28_30"></div>
<div class="v28_31"></div></div></div>
<div class="v28_33">
<div class="v28_34"></div>
<div class="v28_35"></div>
<div class="v28_36"></div>
<div class="v28_37"></div></div>
<div class="v28_39">
<div class="v28_58"></div>
<div class="v28_40">
<div class="v28_41"></div>
<div class="v28_42"></div>
<div class="v28_43"></div>
<div class="v28_44"></div>
<div class="v28_45"></div>
<div class="v28_46"></div>
<div class="v28_47"></div>
<div class="v28_48"></div></div></div>
<span class="v28_59">Official Page</span>
<span class="v28_60">Gitlab</span>
<span class="v28_61">Wikipedia</span></div>
<span class="v32_3">Searx is a free and open-source metasearch engine, available under the GNU Affero General Public License version 3, with the aim of protecting the privacy of its users. To this end, Searx does not share users' IP addresses or search history with the search engines from which it gathers results.</span>
<div class="v38_3">
<span class="v32_6">Developer: Adam Tauber</span>
<span class="v32_7">Programming Languages: Python, Html, etc.</span>
<span class="v32_8">License: AGPL-3.0</span></div></div></div></body></html> <br/><br/> <style>* {
  box-sizing: border-box;
}


body {
  font-size: 14px;
}
.v16_10 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_11 {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255,76,0,1), rgba(255,49,86,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_12 {
  width: 118px;
  height: 70px;
  background: url("../images/v16_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 25px;
  overflow: hidden;
}
.v16_13 {
  width: 118px;
  height: 70px;
  background: url("../images/v16_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_14 {
  width: 63px;
  height: 70px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v16_15 {
  width: 50px;
  height: 70px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 68px;
}
.v23_15 {
  width: 811px;
  height: 60px;
  background: url("../images/v23_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 203px;
  overflow: hidden;
}
.v16_16 {
  width: 811px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v16_17 {
  width: 32px;
  height: 32px;
  background: rgba(122,122,122,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 755px;
}
.v17_21 {
  width: 55px;
  height: 48px;
  background: url("../images/v17_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 1347px;
  overflow: hidden;
}
.v17_18 {
  width: 55px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v17_19 {
  width: 55px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
}
.v17_20 {
  width: 55px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 0px;
}
.v17_22 {
  width: 100%;
  height: 5px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 0px;
  overflow: hidden;
}
.v23_16 {
  width: 527px;
  height: 32px;
  background: url("../images/v23_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 210px;
  overflow: hidden;
}
.v17_23 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 50px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v17_24 {
  width: 86px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 224px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v17_25 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 447px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v18_27 {
  width: 28px;
  height: 28px;
  background: url("../images/v18_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v18_28 {
  width: 28px;
  height: 28px;
  background: url("../images/v18_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_29 {
  width: 28px;
  height: 28px;
  background: url("../images/v18_29.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1.364976167678833px solid linear-gradient(rgba(0,131,250,1), rgba(10,161,251,1));
}
.v18_30 {
  width: 12px;
  height: 28px;
  background: url("../images/v18_30.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  border: 1.364976167678833px solid linear-gradient(rgba(0,131,250,1), rgba(10,161,251,1));
}
.v18_31 {
  height: 28px;
  background: rgba(250,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  border: 1.364976167678833px solid linear-gradient(rgba(0,131,250,1), rgba(10,161,251,1));
}
.v18_32 {
  width: 21px;
  height: 3px;
  background: url("../images/v18_32.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 1.364976167678833px solid linear-gradient(rgba(0,131,250,1), rgba(10,161,251,1));
}
.v18_33 {
  width: 21px;
  height: 3px;
  background: url("../images/v18_33.png");
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 4px;
  border: 1.364976167678833px solid linear-gradient(rgba(0,131,250,1), rgba(10,161,251,1));
}
.v18_34 {
  width: 28px;
  background: rgba(250,0,0,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  border: 1.364976167678833px solid linear-gradient(rgba(0,131,250,1), rgba(10,161,251,1));
}
.v21_36 {
  width: 35px;
  height: 28px;
  background: url("../images/v21_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 165px;
  overflow: hidden;
}
.v21_37 {
  width: 35px;
  height: 28px;
  background: linear-gradient(rgba(0,102,250,1), rgba(28,243,255,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v21_38 {
  width: 27px;
  height: 14px;
  background: url("../images/v21_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 5px;
  overflow: hidden;
}
.v21_39 {
  width: 13px;
  height: 12px;
  background: linear-gradient(rgba(0,164,13,1), rgba(4,195,11,1));
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 14px;
}
.v21_40 {
  width: 18px;
  height: 14px;
  background: linear-gradient(rgba(0,136,10,1), rgba(5,208,13,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v21_41 {
  width: 3px;
  height: 3px;
  background: rgba(250,255,31,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 27px;
}
.v23_3 {
  width: 28px;
  height: 28px;
  background: url("../images/v23_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 396px;
  overflow: hidden;
}
.v23_4 {
  width: 28px;
  height: 20px;
  background: url("../images/v23_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  overflow: hidden;
}
.v23_5 {
  width: 28px;
  height: 20px;
  background: linear-gradient(rgba(0,67,170,1), rgba(0,248,233,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2.3233444690704346px solid rgba(1,89,177,1);
}
.v23_6 {
  width: 7px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 11px;
  border: 0.4608539044857025px solid rgba(255,255,255,1);
}
.v23_7 {
  width: 28px;
  height: 7px;
  background: url("../images/v23_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v23_8 {
  width: 28px;
  height: 7px;
  background: linear-gradient(rgba(78,78,78,1), rgba(61,61,61,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2.3233444690704346px solid rgba(0,0,0,1);
}
.v23_9 {
  width: 5px;
  height: 7px;
  background: linear-gradient(rgba(78,78,78,1), rgba(34,34,34,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
  border: 2.3233444690704346px solid rgba(0,0,0,1);
}
.v23_10 {
  width: 5px;
  height: 7px;
  background: linear-gradient(rgba(78,78,78,1), rgba(34,34,34,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 17px;
  border: 2.3233444690704346px solid rgba(0,0,0,1);
}
.v23_13 {
  width: 785px;
  height: 220px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 565px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v23_14 {
  width: 785px;
  height: 220px;
  background: rgba(255,255,255,0.3499999940395355);
  opacity: 1;
  position: absolute;
  top: 742px;
  left: 562px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v38_5 {
  width: 785px;
  height: 220px;
  background: url("../images/v38_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 565px;
  overflow: hidden;
}
.v23_11 {
  width: 785px;
  height: 220px;
  background: rgba(255,255,255,0.3499999940395355);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v28_62 {
  width: 656px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 45px;
  left: 43px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v28_68 {
  width: 694px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 138px;
  left: 43px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v32_2 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 87px;
  left: 43px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v38_2 {
  width: 462px;
  height: 720px;
  background: url("../images/v38_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 55px;
  overflow: hidden;
}
.v23_12 {
  width: 462px;
  height: 720px;
  background: rgba(255,255,255,0.3499999940395355);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v24_19 {
  width: 370px;
  height: 138px;
  background: url("../images/v24_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 46px;
  overflow: hidden;
}
.v38_4 {
  width: 376px;
  height: 87px;
  background: url("../images/v38_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 47px;
  overflow: hidden;
}
.v28_24 {
  width: 59px;
  height: 59px;
  background: url("../images/v28_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v28_23 {
  width: 59px;
  height: 59px;
  background: linear-gradient(rgba(0,32,196,1), rgba(0,137,186,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_25 {
  width: 53px;
  height: 53px;
  background: url("../images/v28_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v28_26 {
  width: 53px;
  height: 53px;
  background: url("../images/v28_26.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2.597858190536499px solid rgba(255,255,255,1);
}
.v28_27 {
  width: 23px;
  height: 53px;
  background: url("../images/v28_27.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  border: 2.597858190536499px solid rgba(255,255,255,1);
}
.v28_28 {
  height: 53px;
  background: rgba(250,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 26px;
  border: 2.597858190536499px solid rgba(255,255,255,1);
}
.v28_29 {
  width: 41px;
  height: 5px;
  background: url("../images/v28_29.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 5px;
  border: 2.597858190536499px solid rgba(255,255,255,1);
}
.v28_30 {
  width: 41px;
  height: 5px;
  background: url("../images/v28_30.png");
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 5px;
  border: 2.597858190536499px solid rgba(255,255,255,1);
}
.v28_31 {
  width: 53px;
  background: rgba(250,0,0,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  border: 2.597858190536499px solid rgba(255,255,255,1);
}
.v28_33 {
  width: 60px;
  height: 60px;
  background: url("../images/v28_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 154px;
  overflow: hidden;
}
.v28_34 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_35 {
  width: 31px;
  height: 28px;
  background: rgba(255,116,22,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 14px;
}
.v28_36 {
  width: 14px;
  height: 18px;
  background: rgba(255,142,22,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 30px;
}
.v28_37 {
  width: 14px;
  height: 18px;
  background: rgba(255,142,22,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 15px;
}
.v28_39 {
  width: 60px;
  height: 60px;
  background: url("../images/v28_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 311px;
  overflow: hidden;
}
.v28_58 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v28_40 {
  width: 60px;
  height: 59px;
  background: url("../images/v28_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_41 {
  width: 60px;
  height: 59px;
  background: rgba(208,208,208,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_42 {
  width: 59px;
  height: 59px;
  background: rgba(185,185,185,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_43 {
  width: 59px;
  height: 59px;
  background: rgba(163,163,163,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_44 {
  width: 59px;
  height: 59px;
  background: rgba(140,140,140,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_45 {
  width: 59px;
  height: 59px;
  background: rgba(118,118,118,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_46 {
  width: 59px;
  height: 59px;
  background: rgba(96,96,96,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_47 {
  width: 59px;
  height: 59px;
  background: rgba(73,73,73,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_48 {
  width: 59px;
  height: 59px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v28_59 {
  width: 92px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 68px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_60 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 68px;
  left: 163px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v28_61 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 68px;
  left: 305px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v32_3 {
  width: 388px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 204px;
  left: 44px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v38_3 {
  width: 394px;
  height: 105px;
  background: url("../images/v38_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 44px;
  overflow: hidden;
}
.v32_6 {
  width: 220px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v32_7 {
  width: 394px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 39px;
  left: 0px;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v32_8 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 82px;
  left: 2px;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
</style>