{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to DrScanner {% endblock %}</h1>
        <form action="/" method = "GET">
            <p>Specialty <input type = "text" name = "specialty" /></p>
           <p>Price limit <input type = "integer" name = "price_limit" /></p>
           <p>English <input type = "integer" name = "is_english" /></p>
           <p><input type = "Submit" value = "Filter" /></p>
            <h1>Doctor List</h1>
            <table style="border-collapse: separate; border-spacing: 15px;">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Specialty</th>
                    <th>English Level</th>
                    <th>Age</th>
                    <th>Contact</th>
        <!-- Add more columns for the other fields in the table -->
                </tr>
                {% for doctor in doctors %}
                    <tr>
                        <td>{{ doctor[0] }}</td>
                      <td>{{ doctor[1] }}</td>
                      <td><img src="{{ doctor[2] }}" alt="{{ doctor[1] }}" style="width:100px;height:120px;"></td>
                      <td>{{ doctor[3] }}</td>
                      <td>{{ doctor[4] }}</td>
                      <td>{{ doctor[5] }}</td>
                      <td>{{ doctor[6] }}</td>
          <!-- Add more td elements for the other fields in the table -->
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% for post in posts %}
        <a href="#">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}
